<div class="flex flex-row my-info-container">
  <app-progress-spin [isLoading]="isLoading" />
  <p-accordion class="flex-auto" [multiple]="multipleEnable" [value]="accordionValue">
    <p-accordion-panel class="flex flex-column" *ngIf="userDataModel.id.length > 0" value="0">
      <p-accordion-header>{{"my-info.accordion-header.detail" | translate}}</p-accordion-header>
      <p-accordion-content>
        <div class="flex">
          <p-button class="flex m-1" (click)="logout()">{{"common-desc.logout" | translate}}</p-button>
          <p-button class="flex m-1" (click)="multiLogin()">{{"common-desc.multi-login" | translate}}</p-button>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.id" | translate}}</label>
          <label class="col-6">{{userDataModel.id}}</label>
        </div>
        <div class="flex align-items-center">
          <label class="col-6 mr-1">{{"my-info.detail.password" | translate}}</label>
          <p-button class="col-6" (click)="passwordChange()">{{"common-desc.edit" | translate}}</p-button>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.name" | translate}}</label>
          <label class="col-6">{{userDataModel.name}}</label>
        </div>
        <!--
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.mail" | translate}}</label>
          <label class="col-6">{{userDataModel.mail}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.phone-number" | translate}}</label>
          <label class="col-6">{{userDataModel.phoneNumber}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.role" | translate}}</label>
          <label class="col-6">{{flagToRoleDesc(userDataModel.role)}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.status" | translate}}</label>
          <p-tag class="col-6" [value]="statusToUserStatusDesc(userDataModel.status)" [severity]="getSeverity(userDataModel.status)"/>
        </div>
        -->
        <div class="flex align-items-center">
          <label class="col-6 mr-1">{{"my-info.detail.reg-date" | translate}}</label>
          <label class="col-6">{{dateToYearFullString(userDataModel.regDate)}}</label>
        </div>
        <div class="flex align-items-center">
          <label class="col-6 mr-1">{{"my-info.detail.last-login-date" | translate}}</label>
          <label class="col-6">{{dateToYearFullString(userDataModel.lastLoginDate)}}</label>
        </div>
        <p-divider layout="horizontal" />
        <div class="field grid">
          <div class="user-file-gap">
            <p-image width="100" height="100" [src]="userImageUrl(UserFileType.Taxpayer)" [alt]="userDataModel.companyName" (click)="userImageView(UserFileType.Taxpayer)" />
            <label class="flex">{{userDataModel.companyName}}</label>
            <label class="flex">{{userDataModel.companyNumber}}</label>
          </div>
          <div class="user-file-gap">
            <p-image width="100" height="100" [src]="userImageUrl(UserFileType.BankAccount)" [alt]="userDataModel.bankAccount" (click)="userImageView(UserFileType.BankAccount)" />
            <label class="flex">{{userDataModel.bankAccount}}</label>
          </div>
          <div class="user-file-gap">
            <p-image width="100" height="100" [src]="userImageUrl(UserFileType.CsoReport)" [alt]="userDataModel.bankAccount" (click)="userImageView(UserFileType.CsoReport)" />
            <label class="flex">{{"my-info.detail.cso-report-number" | translate}}</label>
            <label class="flex">{{userDataModel.csoReportNumber}}</label>
          </div>
          <div class="user-file-gap">
            <p-image class="col-fixed" width="100" height="100" [src]="userImageUrl(UserFileType.MarketingContract)" [alt]="userDataModel.bankAccount" (click)="userImageView(UserFileType.MarketingContract)" />
            <label class="flex">{{"my-info.detail.contract-date" | translate}}</label>
            <label class="flex">{{dateToYYYYMMDD(userDataModel.contractDate)}}</label>
          </div>
          <div>
            <p-image width="100" height="100" [src]="trainingImageUrl()" (click)="trainingImageView()" />
            <div class="align-self-center">
              <label class="flex">{{trainingDate()}}</label>
              <p-button class="flex" (click)="userTrainingFilePop.toggle($event)">{{"my-info.detail.training-image-add" | translate}}</p-button>
              <p-popover #userTrainingFilePop appendTo="body">
                <popover-user-training-file-add #userTrainingFileAdd [trainingList]="userDataModel.trainingList" (error)="onError($event)" (warn)="onWarn($event)"
                                                (viewItemEvent)="viewUserTrainingItem($event)" (uploadFileEvent)="userTrainingUpload($event)" />
              </p-popover>
            </div>
          </div>
          <input #taxpayerImageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp,.pdf" (change)="userImageSelected($event, UserFileType.Taxpayer)">
          <input #bankAccountImageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp,.pdf" (change)="userImageSelected($event, UserFileType.BankAccount)">
          <input #csoReportImageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp,.pdf" (change)="userImageSelected($event, UserFileType.CsoReport)">
          <input #marketingContractImageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp,.pdf" (change)="userImageSelected($event, UserFileType.MarketingContract)">
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel *ngIf="userDataModel.hosList.length > 0" value="1">
      <p-accordion-header>{{"my-info.accordion-header.in-charge" | translate}}</p-accordion-header>
      <p-accordion-content>
        <div class="grid">
          <p-table class="col-12" [value]="userDataModel.hosList" [scrollable]="true" selectionMode="single" [(selection)]="selectedHosData"
                   size="small" stripedRows="true" [paginator]="true" [rows]="10">
            <ng-template #header>
              <tr>
                <th>{{"my-info.hos-data.org-name" | translate}}</th>
                <th>{{"my-info.hos-data.address" | translate}}</th>
              </tr>
            </ng-template>
            <ng-template #body let-hosData>
              <tr [pSelectableRow]="hosData">
                <td>{{hosData.orgName}}</td>
                <td>{{hosData.address}}</td>
              </tr>
            </ng-template>
          </p-table>
          <p-table class="col-12" [value]="selectedHosData.pharmaList" [scrollable]="true"
                   size="small" stripedRows="true" [paginator]="true" [rows]="10">
            <ng-template #header>
              <tr>
                <th>{{"my-info.pharma-data.org-name" | translate}}</th>
                <th>{{"my-info.pharma-data.address" | translate}}</th>
              </tr>
            </ng-template>
            <ng-template #body let-pharmaData>
              <tr>
                <td>{{pharmaData.orgName}}</td>
                <td>{{pharmaData.address}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
