<div class="edi-list-container">
  <p-table #listTable [value]="viewList" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="filterFields" (sortFunction)="customSort($event, isSorted, listTable, initValue, viewList)" [customSort]="true"
           size="small" stripedRows="true" [tableStyle]="tableStyle">
    <ng-template #caption>
      <div class="flex">
        <div class="flex">
          <p-button class="align-content-center" size="small" icon="pi pi-plus" (click)="addEdi()"></p-button>
        </div>
        <div class="flex">
          <p-date-picker class="flex m-1 w-8rem" #startCalendar [(ngModel)]="startDate" (selectionchange)="startDateChange($event)" dateFormat="yy-mm-dd" pTooltip="{{startDateTooltip | translate}}" />
          <p-date-picker class="flex m-1 w-8rem" #endCalendar [(ngModel)]="endDate" (selectionchange)="endDateChange($event)" dateFormat="yy-mm-dd" pTooltip="{{endDateTooltip | translate}}" />
        </div>
        <div class="flex">
          <p-button class="align-content-center" size="small" icon="pi pi-refresh" (click)="refreshData()"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="orgName">{{"edi-list.table.org-name" | translate}} <p-sortIcon field="orgName"/></th>
        <th>{{"edi-list.table.pharma-name" | translate}}</th>
        <th pSortableColumn="ediState">{{"edi-list.table.edi-state" | translate}} <p-sortIcon field="ediState"/></th>
        <th pSortableColumn="regDate">{{"edi-list.table.reg-date" | translate}} <p-sortIcon field="regDate"/></th>
        <th>{{"edi-list.table.apply-date" | translate}}</th>
      </tr>
    </ng-template>
    <ng-template #body let-data>
      <tr class="click-tr" (click)="open(data)" [pTooltip]="pharmaListTooltip(data)">
        <td [class.foreground-orange]="isPrimary(data)">{{ellipsis(getItemOrgName(data), 20)}}</td>
        <td>{{getItemPharmaName(data)}}</td>
        <td>
          <p-tag [value]="data.ediStateDesc" [severity]="getEDIStateSeverity(data.ediState)"/>
        </td>
        <td>{{dateToYYYYMMdd(data.regDate)}}</td>
        <td>{{getApplyDate(data)}}</td>
      </tr>
    </ng-template>
    <ng-template #paginatorright>
      <div class="block">
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" (input)="filterTable(listTable, $event, filterTableOption)" [placeholder]="searchPlaceHolder | translate" />
        </p-iconfield>
      </div>
    </ng-template>
  </p-table>
</div>
