.edi-pharma-file-combine-model-container {
  position: relative;
  width: 100%;
}
.edi-image {
  width: 300px !important;
  height: 300px !important;
  display: block;
}

.thumbnail-image {
  width: 40px !important;
  display: block;
}
