<div class="edi-view-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div>
    <span>{{"edi-view.apply-date" | translate}} : </span>
    <span>{{getApplyDate()}}</span>
    <span>{{"edi-view.reg-date" | translate}} : </span>
    <span>{{dateToYYYYMMdd(uploadModel.regDate)}}</span>
  </div>
  <div>
    <span>{{"edi-view.hospital-name" | translate}} : </span>
    <span>{{uploadModel.orgName}}</span>
    <div *ngIf="uploadModel.etc.length > 0">
      <span>{{uploadModel.etc}}</span>
    </div>
  </div>
  <div>
    <span>{{"edi-view.edi-state" | translate}}</span>
    <span>
      <p-tag [value]="uploadModel.ediState" [severity]="getEDIStateSeverity(uploadModel.ediState)" />
    </span>
  </div>
  <p-accordion [multiple]="multipleEnable">
    <p-accordion-panel *ngFor="let pharma of uploadModel.pharmaList" value="{{accordionPharmaIndex(pharma)}}">
      <p-accordion-header>
        <div>
          <span>{{pharma.orgName}}</span>
          <div *ngIf="pharma.isCarriedOver">
            <span>{{"edi-view.carried-over" | translate}}</span>
            <span>{{"edi-view.approx-apply-date" | translate}}</span>
            <br/>
            <span>{{getPharmaApplyDate(pharma)}}</span>
          </div>
        </div>
        <div>
          <span>{{"edi-view.edi-state" | translate}}</span>
          <br/>
          <p-tag [value]="pharma.ediState" [severity]="getEDIStateSeverity(pharma.ediState)" />
        </div>
      </p-accordion-header>
      <p-accordion-content *ngIf="false">
        <p-table #listTable [value]="pharma.medicineList" [scrollable]="true" [paginator]="true" [rows]="10" [tableStyle]="tableStyle" size="small" stripedRows="true">
          <ng-template #header>
            <tr>
              <th>{{"edi-view.medicine-name" | translate}}</th>
              <th>{{"edi-view.medicine-count" | translate}}</th>
              <th>{{"edi-view.medicine-charge" | translate}}</th>
              <th>{{"edi-view.medicine-price" | translate}}</th>
              <th>{{"edi-view.medicine-total-price" | translate}}</th>
              <th>{{"edi-view.medicine-date" | translate}}</th>
            </tr>
          </ng-template>
          <ng-template #body let-medicine>
            <tr>
              <td>{{ellipsis(medicine.name)}}</td>
              <td>{{medicine.count}}</td>
              <td>{{medicine.charge}}</td>
              <td>{{medicine.price}}</td>
              <td>{{getMedicineTotalPrice(medicine)}}</td>
              <td>{{getMedicineApplyDate(medicine)}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <p-accordion [multiple]="multipleEnable">
    <p-accordion-panel *ngFor="let response of uploadModel.responseList" value="{{accordionResponseIndex(response)}}">
      <p-accordion-header>
        <div>
          <span>{{response.pharmaName}}</span>
          <br/>
          <p-tag [value]="response.ediState" [severity]="getEDIStateSeverity(response.ediState)" />
        </div>
        <div>
          <span>{{"edi-view.reply.reg-date" | translate}}</span>
          <br/>
          <span>{{dateToYYYYMMdd(response.regDate)}}</span>
        </div>
        <div *ngIf="false">
          <span>{{"edi-view.reply.user-name" | translate}}</span>
          <br/>
          <span>{{response.userName}}</span>
        </div>
      </p-accordion-header>
      <p-accordion-content *ngIf="response.etc.length > 0">
        <textarea rows="5" cols="30" pTextarea [autoResize]="true" [(ngModel)]="response.etc" [readonly]="true"></textarea>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <p-galleria class="flex justify-content-center" tabindex="-1" [value]="uploadModel.fileList" indicatorsPosition="bottom" [showItemNavigators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="false"
              [containerStyle]="galleriaContainerStyle" [numVisible]="0" [circular]="true">
    <ng-template pTemplate="item" let-item>
      <p-image [src]="getBlobUrl(item)" [alt]="item.originalFilename" class="edi-image" width="300" (click)="viewItem(uploadModel.fileList, item)" />
    </ng-template>
    <ng-template pTemplate="caption" let-item>
      <div class="flex">
        <p-button class="align-content-center" size="small" icon="pi pi-download" [rounded]="true" pTooltip="{{downloadFileTooltip | translate}}" (click)="downloadEDIFile(item)" />
        <label class="m-1">{{ellipsis(item.originalFilename)}}</label>
      </div>
      <p-confirm-popup />
      <p-button class="flex m-1 justify-content-end ml-auto" size="small" icon="pi pi-times" [rounded]="true" pTooltip="{{removeFileTooltip | translate}}" (click)="removeEDIFile($event, item)" *ngIf="uploadAble"/>
    </ng-template>
  </p-galleria>
  <div class="col-12 flex flex-column justify-content-center" *ngIf="uploadAble">
    <p-galleria class="flex justify-content-center" [value]="uploadFileBuffModel" indicatorsPosition="bottom" [showItemNavigators]="true" [showThumbnails]="true" [showIndicatorsOnItem]="false"
                [containerStyle]="galleriaContainerStyleWithThumbnail" [numVisible]="5" [(activeIndex)]="activeIndex" [circular]="true">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.blobUrl" [alt]="item.originalFilename" class="edi-image"/>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <img [src]="item.blobUrl" [alt]="item.originalfilename" class="thumbnail-image" />
      </ng-template>
      <ng-template pTemplate="caption" let-item>
        <div class="flex">
          <p-button class="align-content-center" size="small" icon="pi pi-times" [rounded]="true" pTooltip="{{removeFileTooltip | translate}}" (click)="deleteUploadFile(item)" />
          <label class="m-1">{{ellipsis(item.file.name)}}</label>
        </div>
      </ng-template>
    </p-galleria>
    <div class="flex grid justify-content-center m-1">
      <p-button class="m-1 flex field align-content-center" size="small" (click)="fileUpload()">{{"common-desc.add" | translate}}</p-button>
      <p-button class="m-1 flex field align-content-center" size="small" (click)="uploadAdditionalFile()" [disabled]="!saveAble">{{"common-desc.save" | translate}}</p-button>
      <input #inputFiles class="collapse" type="file" [accept]="acceptFiles" (change)="fileSelected($event)" [multiple]="true" />
    </div>
  </div>
</div>
