<div class="edi-view-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="flex w-full">
    <p-ifta-label class="m-1">
      <input class="w-8rem" id="applyDate" [ngModel]="getApplyDate()" readonly pInputText />
      <label for="applyDate">{{"edi-view.apply-date" | translate}}</label>
    </p-ifta-label>
    <p-ifta-label class="m-1">
      <input class="w-10rem" id="hospitalName" [ngModel]="uploadModel.orgName" readonly pInputText />
      <label for="hospitalName">{{"edi-view.hospital-name" | translate}}</label>
    </p-ifta-label>
  </div>
  <div class="flex">
    <p-ifta-label class="m-1">
      <input class="w-8rem" id="regDate" [ngModel]="dateToYYYYMMdd(uploadModel.regDate)" readonly pInputText />
      <label for="regDate">{{"edi-view.reg-date" | translate}}</label>
    </p-ifta-label>
    <p-ifta-label class="m-1" *ngIf="!isDefault">
      <input class="w-10rem" id="hospitalNewName" [ngModel]="uploadModel.tempOrgName" readonly pInputText />
      <label for="hospitalNewName" *ngIf="isNew">{{"edi-view.hospital-new-name" | translate}}</label>
      <label for="hospitalNewName" *ngIf="isTransfer">{{"edi-view.hospital-transfer-name" | translate}}</label>
    </p-ifta-label>
  </div>
  <div class="flex">
    <p-button class="m-1" *ngIf="hospitalTempDetailAble" (click)="openHospitalTempDetail()">{{"edi-view.hospital-temp-detail" | translate}}</p-button>
    <p-tag class="m-1" [value]="StringToEDIStateDesc[uploadModel.ediState]" [severity]="getEDIStateSeverity(uploadModel.ediState)" />
  </div>
  <p-accordion [multiple]="multipleEnable">
    <p-accordion-panel *ngFor="let pharma of uploadModel.pharmaList; index as i" value="{{accordionPharmaIndex(pharma)}}">
      <p-accordion-header>
        <div class="flex flex-wrap w-full flex-row">
          <div class="flex align-items-center">
            <label>{{pharma.orgName}}</label>
            <div *ngIf="pharma.isCarriedOver">
              <label>{{"edi-view.carried-over" | translate}}</label>
              <label>{{"edi-view.approx-apply-date" | translate}}</label>
              <label>{{getPharmaApplyDate(pharma)}}</label>
            </div>
          </div>
          <div class="flex align-items-center">
            <!--
            <label>{{"edi-view.edi-state" | translate}}</label>
            -->
            <p-tag [value]="StringToEDIStateDesc[pharma.ediState]" [severity]="getEDIStateSeverity(pharma.ediState)" />
          </div>
        </div>
      </p-accordion-header>
      <p-accordion-content>
        <app-edi-pharma-file-view-model #ediPharmaFileViewModel [pharmaModel]="pharma" (error)="onError($event)" (warn)="onWarn($event)" (downloadPharmaItemEvent)="downloadEDIPharmaFile($event)" (removeEDIPharmaItemEvent)="removeEDIPharmaFile($event)"
                                        (viewPharmaItemEvent)="viewPharmaItem($event)" (changeFile)="changeFile($event)" (uploadAdditionalFileEvent)="uploadAdditionalFile($event)"/>
        <p-table #listTable [value]="pharma.medicineList" [scrollable]="true" [paginator]="true" [rows]="10" [tableStyle]="tableStyle" size="small" stripedRows="true" *ngIf="false">
          <ng-template #header>
            <tr>
              <th>{{"edi-view.medicine-name" | translate}}</th>
              <th>{{"edi-view.medicine-count" | translate}}</th>
              <th>{{"edi-view.medicine-charge" | translate}}</th>
              <th>{{"edi-view.medicine-price" | translate}}</th>
              <th>{{"edi-view.medicine-total-price" | translate}}</th>
              <th>{{"edi-view.medicine-date" | translate}}</th>
            </tr>
          </ng-template>
          <ng-template #body let-medicine>
            <tr>
              <td>{{ellipsis(medicine.name)}}</td>
              <td>{{medicine.count}}</td>
              <td>{{medicine.charge}}</td>
              <td>{{medicine.price}}</td>
              <td>{{getMedicineTotalPrice(medicine)}}</td>
              <td>{{getMedicineApplyDate(medicine)}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <p-accordion [multiple]="multipleEnable">
    <p-accordion-panel *ngFor="let response of uploadModel.responseList" value="{{accordionResponseIndex(response)}}">
      <p-accordion-header>
        <div class="flex flex-wrap w-full flex-row">
          <div class="flex col-2 align-items-center">
            <label>{{response.pharmaName}}</label>
            <p-tag [value]="StringToEDIStateDesc[response.ediState]" [severity]="getEDIStateSeverity(response.ediState)" />
          </div>
          <div class="flex col-2 align-items-center">
            <label>{{"edi-view.reply.reg-date" | translate}}</label>
            <label>{{dateToYYYYMMdd(response.regDate)}}</label>
          </div>
          <div *ngIf="false" class="flex col2 align-items-center">
            <label>{{"edi-view.reply.user-name" | translate}}</label>
            <label>{{response.userName}}</label>
          </div>
        </div>
      </p-accordion-header>
      <p-accordion-content *ngIf="response.etc.length > 0">
        <textarea class="w-full" rows="5" cols="30" pTextarea [autoResize]="true" [(ngModel)]="response.etc" [readonly]="true"></textarea>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <p-galleria class="flex justify-content-center" tabindex="-1" [value]="uploadModel.fileList" indicatorsPosition="bottom" [showItemNavigators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="false"
              [containerStyle]="galleriaContainerStyle" [numVisible]="0" [circular]="true" [(activeIndex)]="activeIndex">
    <ng-template pTemplate="item" let-item>
      <img [src]="getBlobUrl(item)" [alt]="item.originalFilename" class="edi-image" (click)="viewItem(uploadModel.fileList, item)" />
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-column flex-wrap">
        <div class="flex m-1 flex-row flex-wrap">
          <label class="flex m-1 align-self-center">{{activeIndex + 1}}/{{uploadModel.fileList.length}}</label>
          <label class="flex m-1 align-self-center">{{ellipsis(uploadModel.fileList[activeIndex].originalFilename, 30)}}</label>
        </div>
        <div class="flex flex-row flex-wrap">
          <p-button class="flex m-1 align-content-center" size="small" icon="pi pi-download" [rounded]="true" pTooltip="{{downloadFileTooltip | translate}}" (click)="downloadEDIFile(uploadModel.fileList[activeIndex])" />
          <p-confirm-popup />
          <p-button class="flex m-1 justify-content-end ml-auto" size="small" icon="pi pi-times" [rounded]="true" pTooltip="{{removeFileTooltip | translate}}" (click)="removeEDIFile($event, uploadModel.fileList[activeIndex])" *ngIf="uploadAble"/>
        </div>
      </div>
    </ng-template>
  </p-galleria>
</div>
