<div class="medicine-price-list-container">
  <p-table #listTable [value]="medicineModel" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="filterFields" (sortFunction)="customSort($event, isSorted, listTable, initValue, medicineModel)" [customSort]="true"
           [tableStyle]="tableStyle" size="small" stripedRows="true">
    <ng-template #caption>
      <div class="flex">
        <p-button class="m-1" (onClick)="refresh()" icon="pi pi-refresh" [disabled]="!haveRole" />
        <div class="flex ml-auto justify-content-end">
          <p-iconfield iconPosition="left" class="m-1">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" (input)="filterTable(listTable, $event, filterTableOption)" placeholder="Search keyword" />
          </p-iconfield>
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>{{"medicine-price-list.main-ingredient-name" | translate}}</th>
        <th pSortableColumn="clientName">{{"medicine-price-list.client-name" | translate}} <p-sortIcon field="clientName" /></th>
        <th pSortableColumn="makerName">{{"medicine-price-list.maker-name" | translate}} <p-sortIcon field="makerName" /></th>
        <th pSortableColumn="name">{{"medicine-price-list.org-name" | translate}} <p-sortIcon field="orgName" /></th>
        <th pSortableColumn="kdCode">{{"medicine-price-list.kd-code" | translate}} <p-sortIcon field="kdCode" /></th>
        <th pSortableColumn="maxPrice">{{"medicine-price-list.max-price" | translate}} <p-sortIcon field="maxPrice" /></th>
        <th>{{"medicine-price-list.standard" | translate}}</th>
        <th>{{"medicine-price-list.etc1" | translate}}</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr [ngClass]="tableNgClass(item)">
        <td>{{ellipsis(item.mainIngredientName)}}</td>
        <td>{{ellipsis(item.clientName)}}</td>
        <td>{{ellipsis(item.makerName)}}</td>
        <td>{{ellipsis(item.orgName)}}</td>
        <td>{{item.kdCode}}</td>
        <td>{{item.maxPrice}}</td>
        <td>{{item.standard}}</td>
        <td>{{item.etc1}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
