<div class="edi-request-container grid w-full">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="col-12 flex flex-column justify-content-center">
    <label class="flex justify-content-center">{{"edi-request.list.apply-date" | translate}}</label>
    <p-list-box class="flex justify-content-center max-h-10rem" [options]="applyDateList" [(ngModel)]="selectApplyDate" [multiple]="false"
                (onChange)="applyDateOnSelect()">
      <ng-template pTemplate="item" let-data>
        <div class="flex">
          <div>{{listItemApplyDateModel(data)}}</div>
        </div>
      </ng-template>
    </p-list-box>
  </div>
  <div class="col-12 flex flex-column justify-content-center">
    <label class="flex justify-content-center">{{"edi-request.hospital" | translate}}</label>
    <p-select class="flex w-15rem justify-content-center align-self-center" [options]="hospitalList" [(ngModel)]="selectHospital" optionLabel="orgName" [filter]="true" filterBy="orgName" (onChange)="hospitalOnSelect()">
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div>{{selectedOption.orgName}}</div>
      </ng-template>
      <ng-template pTemplate="item" let-data>
        <div>{{data.orgName}}</div>
      </ng-template>
    </p-select>
  </div>
  <div class="col-12 flex flex-column justify-content-center">
    <label class="flex justify-content-center">{{"edi-request.pharma" | translate}}</label>
    <p-list-box class="flex justify-content-center max-h-20rem" [options]="pharmaList" [(ngModel)]="selectPharma" [multiple]="true"
                (onChange)="pharmaOnSelect()" [filter]="true" [filterFields]="pharmaFilterFields">
      <ng-template pTemplate="item" let-data>
        <div class="flex">
          <div>{{data.orgName}}</div>
        </div>
      </ng-template>
    </p-list-box>
  </div>
  <div class="col-12 flex flex-column justify-content-center">
    <p-galleria class="flex justify-content-center" [value]="uploadFileBuffModel" indicatorsPosition="bottom" [showItemNavigators]="true" [showThumbnails]="true" [showIndicatorsOnItem]="false"
                [containerStyle]="galleriaContainerStyleWithThumbnail" [numVisible]="5" [(activeIndex)]="activeIndex" [circular]="true">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.blobUrl" [alt]="item.originalFilename" class="edi-image"/>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <img [src]="item.blobUrl" [alt]="item.originalfilename" class="thumbnail-image" />
      </ng-template>
      <ng-template pTemplate="caption" let-item>
        <div class="flex">
          <p-button class="align-content-center" size="small" icon="pi pi-times" [rounded]="true" pTooltip="{{removeFileTooltip | translate}}" (click)="deleteUploadFile(item)" />
          <label class="m-1">{{ellipsis(item.file.name)}}</label>
        </div>
      </ng-template>
    </p-galleria>
    <div class="flex grid justify-content-center m-1">
      <p-button class="m-1 flex field align-content-center" size="small" (click)="fileUpload()">{{"common-desc.add" | translate}}</p-button>
      <p-button class="m-1 flex field align-content-center" size="small" (click)="saveData()" [disabled]="!saveAble">{{"common-desc.save" | translate}}</p-button>
      <input #inputFiles class="collapse" type="file" [accept]="acceptFiles" (change)="fileSelected($event)" [multiple]="true" />
    </div>
  </div>
</div>
