<div class="edi-request-container grid w-full drop-zone">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="flex flex-column w-full">
    <label class="flex justify-content-center">{{"edi-request.list.apply-date" | translate}}</label>
    <p-list-box class="flex justify-content-center max-h-10rem" [options]="applyDateList" [(ngModel)]="selectApplyDate" [multiple]="false"
                (onChange)="applyDateOnSelect()">
      <ng-template pTemplate="item" let-data>
        <div class="flex">
          <div>{{listItemApplyDateModel(data)}}</div>
        </div>
      </ng-template>
    </p-list-box>
  </div>
  <div class="flex flex-column w-full">
    <label class="flex justify-content-center">{{"edi-request.hospital" | translate}}</label>
    <p-select class="flex w-15rem justify-content-center align-self-center" [options]="hospitalList" [(ngModel)]="selectHospital" optionLabel="orgName"
              [filter]="true" [filterFields]="hospitalFilterFields" (onChange)="hospitalOnSelect()">
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div>{{selectedOption.orgName}}</div>
      </ng-template>
      <ng-template pTemplate="item" let-data>
        <div>{{data.orgName}}</div>
      </ng-template>
    </p-select>
  </div>
  <div class="flex flex-column w-full">
    <label class="flex justify-content-center">{{"edi-request.pharma" | translate}}</label>
    <p-list-box class="flex align-self-center w-fit h-35rem" [options]="pharmaList" [filter]="true" [filterFields]="pharmaFilterFields" highlightOnSelect="false" optionLabel="orgName">
      <ng-template pTemplate="item" let-item>
        <app-edi-pharma-file-combine-model class="flex" [pharmaItem]="item" (error)="onError($event)" (warn)="onWarn($event)" (changeFile)="pharmaItemChange($event)" />
      </ng-template>
    </p-list-box>
  </div>
  <div class="flex flex-column w-full">
    <div class="flex justify-content-center m-1">
      <p-button class="flex align-content-center" size="small" (click)="saveData()" [disabled]="!saveAble">{{"common-desc.save" | translate}}</p-button>
    </div>
  </div>
</div>
