<div class="edi-request-container grid w-full">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="col-12 flex flex-column justify-content-center">
    <p-select class="flex m-1 align-self-center max-h-10rem" [options]="ediTypeList" [(ngModel)]="selectedEDIType">
      <ng-template pTemplate="selectedItem" let-item>
        <div>{{StringToEDITypeDesc[item]}}</div>
      </ng-template>
      <ng-template pTemplate="item" let-item>
        <div>{{StringToEDITypeDesc[item]}}</div>
      </ng-template>
    </p-select>
    <label class="flex justify-content-center">{{"edi-request.list.apply-date" | translate}}</label>
    <p-list-box class="flex justify-content-center max-h-10rem" [options]="applyDateList" [(ngModel)]="selectApplyDate" [multiple]="false"
                (onChange)="applyDateOnSelect()">
      <ng-template pTemplate="item" let-data>
        <div class="flex">
          <div>{{listItemApplyDateModel(data)}}</div>
        </div>
      </ng-template>
    </p-list-box>
  </div>
  <div class="flex flex-column w-full">
    <p-ifta-label class="flex align-self-center w-fit">
      <input id="edi-new-hospital-name" [(ngModel)]="ediETC" pInputText (ngModelChange)="checkSavable()">
      <label for="edi-new-hospital-name">{{"edi-request.hospital" | translate}}</label>
    </p-ifta-label>
  </div>
  <div class="flex flex-column w-full">
    <label class="flex justify-content-center">{{"edi-request.pharma" | translate}}</label>
    <p-list-box class="flex align-self-center w-fit h-35rem" [options]="pharmaList" [filter]="true" [filterFields]="pharmaFilterFields" highlightOnSelect="false" optionLabel="orgName">
      <ng-template pTemplate="item" let-item>
        <app-edi-pharma-file-combine-model class="flex" [pharmaItem]="item" (error)="onError($event)" (warn)="onWarn($event)" (changeFile)="pharmaItemChange($event)" />
      </ng-template>
    </p-list-box>
  </div>
  <div class="flex flex-column w-full">
    <div class="flex justify-content-center m-1">
      <p-button class="flex align-content-center" size="small" (click)="saveData()" [disabled]="!saveAble">{{"common-desc.save" | translate}}</p-button>
    </div>
  </div>
</div>
