.qna-content {
  min-width: 300px !important;
  width: 100% !important;
}

.qna-image {
  width: 300px !important;
  height: 300px !important;
  display: block;
}

.thumbnail-image {
  width: 40px !important;
  display: block;
}
