.user-file-gap {
  @media screen and (min-width: 720px) {
    flex: 0 0 auto !important;
    padding: 0.5rem !important;
    width: 25% !important;
  }
  @media screen and (max-width: 720px) {
    flex: 0 0 auto !important;
    padding: 0.5rem !important;
    width: 50% !important;
  }
}
