/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "handsontable/styles/handsontable.min.css";
@import "handsontable/styles/ht-theme-main.min.css";

.collapse {
  display: none;
}

.p-galleria-nav-button {
  background-color: rgba(220, 220, 220, 150) !important;
  z-index: 1000;
}
.p-galleria-next-icon, .p-galleria-prev-icon {
  color: black;
}
.p-galleria-caption {
  height: fit-content !important;
  padding: 0.5rem !important;
}

app-qna-write .p-editor-content, .ql-editor {
  min-height: 360px;
}
.p-dialog-header {
  display: none !important;
}
