/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "handsontable/styles/handsontable.min.css";
@import "handsontable/styles/ht-theme-main.min.css";

.collapse {
  display: none;
}

.p-galleria-nav-button {
  background-color: rgba(220, 220, 220, 150) !important;
  z-index: 1000;
}
.p-galleria-next-icon, .p-galleria-prev-icon {
  color: black;
}
.p-galleria-caption {
  height: fit-content !important;
  padding: 0.5rem !important;
}

app-qna-write .p-editor-content, .ql-editor {
  min-height: 360px;
}
.p-dialog-header {
  display: none !important;
}


.click-tr:hover {
  cursor: pointer;
  background-color: var(--p-primary-700) !important;
  color: var(--p-primary-100) !important;
}

app-edi-due-date .fc-toolbar-title {
  font-size: 1em !important;
}

.drop-zone {
}
.drop-zone.drag-over {
  background: var(--p-gray-300);
  border: 2px dashed var(--p-blue-300);
}

app-edi-pharma-file-combine-model .p-panel {
  width: 80vw;
}
.h-35rem .p-listbox-list-container {
  min-height: 35rem;
  max-height: 35rem;
}
.no-drag {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

app-edi-list .p-paginator-content-end {
  margin-inline-start: initial;
}

@media screen and (max-width: 750px) {
  .map-view-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 750px) {
  .map-view-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex: 0 0 auto;
    padding: 10px;
  }
}

.foreground-orange {
  color: var(--p-orange-600) !important;
}
.foreground-teal {
  color: var(--p-teal-600) !important;
}
.background-orange {
  background-color: var(--p-orange-600) !important;
}
.background-teal {
  background-color: var(--p-teal-600) !important;
}
